.bg-pink { background-color:  #ea03ff; }

.bg-pink1 { background-color:  rgba(234, 3, 255, 0.753); }

.bg-viollet { background-color: #8932c3; }

.nav-link { font-size: 20px; cursor: pointer; }

.nav-link:hover { color: #f7f7f7; transition: 0.4s !important; }

#dark-light { font-size: 22px; cursor: pointer; }

/* Icons */
i.bi-sun { color: #f7f7f7; transition: all 0.5s ease-out; }

i.bi-moon { color: rgb(33, 37, 41); transition: all 5s ease; }

.bottom { z-index: 1; bottom: 5%; }

.end { right: 5%; }

.shadow-light { box-shadow: 0 3px 8px rgba(245, 245, 245, 0.8); }

.shadow-dark { box-shadow: 0 3px 8px  rgba(33, 37, 41, 0.6); }

.hr-section { width: 150px; border: 2px solid; }

.social { color: #cecece; }

.social:hover { transition: 0.5s !important; color:#9a0478 !important; }

input:focus, textarea:focus { box-shadow: none !important; }

/* Carousel */
@media (max-width: 576px) {
    .cards-wrapper .card:not(:first-child) { display: none; }
}

@media (min-width: 576px) {
    .cards-wrapper { display: flex; }
}

@media (min-width: 576px) and (max-width: 992px) {
    .cards-wrapper .card:last-child { display: none;}

    .cards-wrapper .card { margin-left: auto; margin-right: auto; }
}

@media (min-width: 576px) and (max-width: 767px) {
   .cards-wrapper .card .card-title { font-size: 1.1rem !important;}
}

.img-wrapper { overflow: hidden; height: 25vh;}

.img-wrapper img { transition: 1.5s all ease; }

.img-wrapper:hover img { transform: scale(1.5);}

.carousel-control-prev,  .carousel-control-next {
    width: 3rem; height: 3rem; top: 50%; border-radius: 50%; background-color: #6c757d; opacity: 0.4;
}

.description-us img { border-radius: 50%; }

/* Itens do dropdown */
.dropdown-item:hover { background-color: #cecece7b !important; }


/* Botão */
.btn-outline-logo { border: 2px solid #9a0478; padding: 5px; font-size: 1.2rem; border-radius: 8px; }
.btn-outline-logo:hover { background-color: rgb(154, 4, 120); transition: 0.4s; color: white; opacity: 0.9; }

.description-home img { transition: 0.3s all;}
.description-home img:hover { transform: scale(1.05);}

.description-home p, .description-news { text-align: justify; }

.description-us p { text-align: justify;}
/* cards da área de contacto "testemunhos" */
#testimony .card { transition: 1.2s all; }
#testimony .card:hover { transform: scale(1.2); cursor: pointer;}

#news .card:hover { border: 1px solid #9a0478; transition: 0.3s; }